* {
  margin: 0;
}

.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}



/* HEADER */

.home__header a {
  font-size: 15px;
  margin-right: 20px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  cursor: not-allowed;
}

.home__header a:hover {
  text-decoration: underline;
}

.home__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px ;
}

.home__header--right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home__header--right .css-i4bv87-MuiSvgIcon-root {
  margin-right: 20px;
}

/* HOME BODY */

.home__body {
  flex: 1;
  display: flex;
  margin: 10% 0 0 0;
  flex-direction: column;
}

.home__body--img {
  height: 100px;
  object-fit: contain;
}

/* SEARCH COMPONENT */

.search__wrapper {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  height: 30px;
  padding: 10px 20px;
  border-radius: 9999px;
  width: 75vw;
  margin: 0 auto;
  margin-top: 40px;
  max-width: 550px;
}

.search__wrapper input {
  flex: 1;
  padding: 10px 20px;
  border: none;
  font-size: medium;
}

.search__wrapper input:focus {
  outline-width: 0;
}

.search__input--icon {
  color: gray;
}

.search-buttons__wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.search-buttons__wrapper button {
  margin: 5px;
  padding: 8px 16px;
  background-color: #f8f8f8;
  border: 1px solid white;
  text-transform: inherit;
  color: #5f6368;
}

.search-buttons__wrapper button:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) ;
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  color: #222;
}

.search__btn--hiden {
  display: none !important;
}


/* SEARCH PAGE */
.search-page__header {
  display: flex;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  align-items: flex-start;
  padding: 30px;
  border-bottom: 1px solid lightgray;
}

.search-page__header--logo {
  object-fit: contain;
  height: 50px;
  margin-right: 50px;
}

.search-page__header--body .search  .search__wrapper {
  margin-top: 0;
  width: unset;
  margin: unset;
  max-width: unset;
}

.search-page__options {
  display: flex;
  align-items: center;
  color: grey;
}

.search-page__options a,
.search-page__options--right  a{
  text-decoration: none;
  color: grey;
}

.search-page__options--right,
.search-page__options--left {
  display: flex;
}

.search-page__options--right {
  margin-left: 80px;
}

.search-page__option {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.search-page__option a {
  margin-left: 4px;
}

.search-page__results {
  max-width: 650px;
  margin: 20px 0 100px 240px;
}

.search-page__results-count {
  color: #70757a;
  font-size: 14px;
}

.search-page__result {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
}

.search-page__result--title {
  text-decoration: none;
}

.search-page__result--title:hover {
  text-decoration: underline;
}

.search-page__result--Snippet {
  margin-top: 8px;
}

.search-page__result--img {
  object-fit: contain;
  height: 20px;
  margin-right: 12px;
}

.search-page__options a {
  cursor: not-allowed;
}